@model BlogTrackerProject.Models.Bloginfo

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}

<h1>Add Blog Details</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           @*  <div class="form-group">
                <label asp-for="Blogid" class="control-label"></label>
                <input asp-for="Blogid" class="form-control" />
                <span asp-validation-for="Blogid" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfCreation" class="control-label"></label>
                <input asp-for="DateOfCreation" class="form-control" />
                <span asp-validation-for="DateOfCreation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blogurl" class="control-label"></label>
                <input asp-for="Blogurl" class="form-control" />
                <span asp-validation-for="Blogurl" class="text-danger"></span>
            </div>
          @*   <div class="form-group">
                <label asp-for="Empemail" class="control-label"></label>
                <select asp-for="Empemail" class ="form-control" asp-items="ViewBag.Empemail"></select>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@* <div>
    <a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
